.indicators {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 4pt;
}

.indicators p{
  text-align: right;
}

.board {
  height: 90px;
}

.board-panel {
  height: 90px;
/*  background-image: url(./../img/panel2.jpg);
  background-repeat: no-repeat;
  background-size: auto 90px;*/
  background-color: #404040;
  padding: 8px;
  border-radius: 5px;
}

.float-lefti {
  float: left;
}

.board-panel2 {
  margin-bottom: 30px;
  overflow-y: hidden;
}

.circle {
  border-radius: 50%;
  width: 7px;
  height: 7px;
  background-color: #f5f5f5;
}

.point {
  border-radius: 50%;
  width: 3px;
  height: 3px;
  background-color: #000;
}

.indicators .active {
  background-color: green;
}

.shadow-top {
    box-shadow: inset 0 -5px 5px 1px #333;
}

.shadow-right {
    box-shadow: inset 5px 0 5px -1x #333;
}

.shadow-bottom {
    box-shadow: inset 0 5px 5px -1x #333;
}

.shadow-left {
    box-shadow: inset -5px 0 5px 1px #333;
}
.shadow-top-bottom {
  box-shadow: inset 0 15px 15px  -10px #333 , inset 0 -15px 15px  -10px #333;
}
.gradient-gray{
  background: #999999; /* Old browsers */
  background: -moz-linear-gradient(45deg, #999999 1%, #f5f5f5 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #999999 1%,#f5f5f5 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #999999 1%,#f5f5f5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#f5f5f5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.shadow-withe {
  -webkit-box-shadow: inset 0px 0px 18px 1px rgba(0,0,0,0.4);
  -moz-box-shadow: inset 0px 0px 18px 1px rgba(0,0,0,0.4);
  box-shadow: inset 0px 0px 18px 1px rgba(0,0,0,0.4);
}

.shadow-withe-top {
  -webkit-box-shadow: inset 0px 82px 18px -70px rgba(255,255,255,0.4);
  -moz-box-shadow: inset 0px 82px 18px -70px rgba(255,255,255,0.4);
  box-shadow: inset 0px 82px 18px -70px rgba(255,255,255,0.4);
}

.shadow-withe-bottom {
  -webkit-box-shadow: inset 0px -82px 18px -70px rgba(255,255,255,0.4);
  -moz-box-shadow: inset 0px -82px 18px -70px rgba(255,255,255,0.4);
  box-shadow: inset 0px -82px 18px -70px rgba(255,255,255,0.4);
}

.opacity-50 {
  filter: alpha(Opacity=50);
  opacity: 0.5;
}

.opacity-50:hover {
  filter: alpha(Opacity=100);
  opacity: 1;
}

.left {
  left: 50px;
}

.board-ports .logo {
  position: absolute;
  top: 8px;
  left: 10px;
}

.board-ports .model {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10pt;
}

.board-panel .model {
  color: #fff;
}

.board-ports-access{
  position: relative;
  background-color: #F5F5F5;
  padding: 2px 1px;
  border-radius: 2px;
  margin: 10px 3px;
  margin-top: 0px;
}

.board-ports-combo {
  margin: 0 2px;
  margin: 10px 15px;
}

.board-ports-combo .board-ports{
  padding: 2px 2px;
  margin: 0 2px;
  position: relative;
}

.board-ports-combo .board-ports .ports{
}

.board-ports-combo .right{
  left: 30px;
}

.board-ports-combo .row .col {
  padding: 0px 1px;
}

.board-ports-access .usb {
  width: 1.4em;
  height: 0.5em;
  padding: 3px;
  padding-bottom: 4px;
  background: gray;
}

.abs {
  position: absolute;
}

.rel {
  position: relative;
}

.usb .plgn {
  height: 0.1em;
  background: #F5F5F5;
}

.stp {
  background-color: gray;
}

.board-ports {
  background-color: #F5F5F5;
  padding: 2px 15px;
  border-radius: 2px;
  margin: 10px 2px;
}

.board-ports-stp {
  border-radius: 0;
}

.overlay {
  display:none;
  position: absolute;
  width: 400px;
  height: 70px;
  background-color: #fff;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  overflow: visible;
  z-index: 999999;
}

a:hover .overlay{
  display: block;
}

.overlay .overlay-header {
  overflow: hidden;
  background-color: #ffedcc;
  color: #000;
  margin: 1px;
  padding: 5px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.overlay .overlay-header h6{
  font-weight: bold;
}

.overlay p {
  padding: 5px;
  margin: 1px;
  font-weight: normal;
}

.port {
  height: 20px;
  width: 22px;
  background-repeat: no-repeat;
  background-size: 22px 20px;
  margin: 1px 1px;
}

.port-number {
  margin: auto 0;
  padding: 0;
  line-height: 13px;
  color: #fff;
  font-size: 8pt;
}

.top--15 {
  height: 15px;
  margin-top: -15px;
}
.bottom--15 {
  height: 15px;
  margin-bottom: -15px;
}


.top--17 {
  height: 17px;
  margin-top: -17px;
}
.bottom--17 {
  height: 17px;
  margin-bottom: -17px;
}

.top--19 {
  height: 19px;
  margin-top: -19px;
}
.bottom--19 {
  height: 19px;
  margin-bottom: -19px;
}

.top--22 {
  height: 22px;
  margin-top: -22px;
}
.bottom--22 {
  height: 22px;
  margin-bottom: -22px;
}

.lh-13{
  line-height: 0;
}

