.ddl-name {
  font-weight: bold;
  text-transform: capitalize;
}

.ddl-truncate {
  color: #696969;
  background-color: #ddd;
}

.radius-3 {
  border-radius: 3px;
}

.drop-down-list ul{
  list-style-type: none;
  list-style-position: outside;
  padding-left: 0px;
}

.drop-down-list ul ul{
  list-style-type: none;
  list-style-position: outside;
  padding-left: 20px;
}

.ddl-array {
  padding: 5px;
  margin: 4px;
}

.ddl-array:hover {
  background-color: #F5F5F5;
}

.ddl-array .ddl-array:hover {
  background-color: #fff;
}

.ddl-link:hover {
  text-decoration : none;
}
