.border table{
  border: 1px solid #fff;
}

.ddt .active {
  padding: 0.3rem;
}

.ddt td td {
  padding: 5px;
}
.ddt {
  margin-bottom: 20px;
}

.non-class-tr,
.non-class-tr td,
.non-class-tr table,
.non-class-tr tbody
  {
  width: 100%;
  padding: 0;
  margin: 0;
  border-width: 0;
}
.ddt-child-table table {
  margin: 0;
  border-width: 5px;
  border-color: #fff;
  border-style: solid;
}

.ddt-row-top {
  margin: 0;
}

.ddt-row-down {
  margin: 0;
  padding: 2px;
  cursor: pointer;
}

.ddt .table td,.ddt .table th,
.ddt .table-sm td,.ddt .table-sm th,
.ddt-row-down .table-sm td,.ddt-row-down .table-sm th,
.ddt-row-down .table td,.ddt-row-down .table th, {
  padding: 0;
}

.non {
  margin: 0;
  padding: 0;
  cursor: default;
}
.ddt .ddt-row-down .active .arrow {
  border: 10px solid transparent;
  width: 0px;
  height: 0px;
  border-bottom-color: #d69a5e;
  border-right: 0;
  border-top: 0;
  position: absolute;
  vertical-align: bottom;
  left: 100%;
  margin-left: -12px;
  margin-top: -5px;
}


