.sidebar-left {
  background-color: #f7f7f7;
  box-shadow: -8px 15px 11px -13px #000 inset;
}

.middle {
  box-shadow: -8px 15px 16px -17px #000 inset;
}

.content {
  min-height: 1400px;
  box-shadow: -8px 8px 31px -17px #000;
}

.content h3 {
  padding-bottom: 20px;
}

.content h1, h2, h3, h4, h5, h6, th{
  text-transform: capitalize
}

.content thead {
  background-color: #bcd0e2;
  color: #000;
}

.menu h3{
  font-size: 22px;
}
.menu ul {
  padding-left: 8px;
  list-style-type: none;
  list-style-position: outside;
}

/*.menu li{
  line-height: 13px;
}
.menu li ul{
  line-height: 13px;
}*/

.menu a {
  font-weight: bold;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 1rem;
  color: #000;

  border-color: #f9f9f9;
}

.menu a:hover, .menu .btn:hover{
  color: #107bb1;

  border-color: #f9f9f9;
}



.header {
  color: #FFF;
  font-family: Arial, Tahoma, Verdana;
  background-color: #107bb1;
  border-bottom: 2px solid #FFB762;
  background: linear-gradient(90deg, #107bb1, #0d618c);
}

.header-panel {
  padding-top: 0;
}

.header-panel a, .header-panel button{
  margin: 3px 0;
  margin-left: 3px;
  font-weight: bold;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 1rem;
  color: #ffffff;
  border-color: #f9f9f9;
}

.btn-color {
  color: #f9f9f9;
  background-color: #0d628d;
  border-color: #f9f9f9;
}

.btn-color .active {
  color: #107bb1;
  background-color: #f9f9f9;
  border-color: #f9f9f9;
}

.header-panel .active {
  color: #107bb1;
  background-color: #f9f9f9;
  border-color: #f9f9f9;
}

.header-panel a:hover, .header-panel button:hover{
  color: #107bb1;
  background-color: #f9f9f9;
  border-color: #f9f9f9;
}

.header-panel .counter {
  position: absolute;
  left: -20px;
  top: 55px;
}

.dashboard {
  width: 100%;
  height: 100%;
  display : inline-block;
  overflow-x:hidden;
  overflow-y:hidden;
  margin: 5px;
  padding: 10px;
  border-style: solid;
  border-color: #A0A0A0;
  border-width: 1px;
  box-shadow: 0 0 10px 1px rgba(221, 221, 221, 1);
}

.dashboard:hover {
  background-color: #fff;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.table-sm-no th,
.table-sm-no td {
  padding: 0.75rem;
}

.table {
  margin-right: 0px;
  margin-left: 0px;
}

.barr {
  margin: 5px;
}

.window {
  border-style: solid;
  border-color: #bcd0e2;
  border-width: 1px;
  margin: 5px;
  padding: 0px;
  overflow-x:hidden;
  margin-bottom: 15px;
}

.window h5 {
  background-color: #bcd0e2;
  color: #000;
  margin-bottom: 0;
  padding-bottom: 0;
}

.window table, .dashboard table {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.window .row {
  margin: 5px;
}
.window .window {
    padding: 0px;
    margin: 5px;
}

.window table {
  table-layout: fixed;
  width: 100%;
}
.window td,
.window th {
  /*width: 2%;*/
  text-align: left;
}

.window .button-manager {
  position: absolute;
  top: 0; /* прикрепить к верху родителя */
  right: 0;
  padding: 0 3px;
  color: #7c7c7c;
}

.rotate {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rotate-90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

/*
div .header-panel {
  height: 5em;
  position: relative
}

div.header-panel a {
   margin: 0;
   position: absolute;
   top: 50%;
   transform: translate(0, -50%)
 }
*/

.center {
  position: absolute;
  top: 20%;
}

.o-hidden {
  overflow: hidden;
}
.o-hidden-x {
  overflow-x: hidden;
}

.o-hidden-y {
  overflow-y: hidden;
}

.filterable-table-container .filter-item .filter-item-title {
    background-color: #bcd0e2;
    border-radius: 1px;
    color: #000;
}

.filterable-table-container .filter-item {
  border: 1px solid #ccc;
  border-radius: 1px;
  display: inline-block;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 15px;
}

.block {
  border: 1px solid #000;
}

.Select {
  margin: 15px 0;
}

.is-open {
  z-index: 100;
}

tfoot tr td {
  background-color: #aec1d1;
  font-weight: 700;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #bcd0e2;
   border-color: #bcd0e2;
}

.mui-tabs__bar>li.mui--is-active>a {
  background-color: #107bb1;
  color: #000;
}

.mui-tabs__bar li a:hover {
  background-color: #107bb1;
  color: #fff;
}

.mui-tabs__bar>li>a {
  background-color: #bcd0e2;
  color: #000;
}

.filterable-table-container table.filterable-table tfoot tr td {
  background-color: #aec1d1;
  font-weight: 700;
}


thead {
  background-color: #bcd0e2;
  color: #000;
}

.filterable-table-container .clear-filter {
  top: -2px;
  right: 7px;
  cursor: pointer;
}

/* Recharts */

.custom-label {
  background-color: #000;
}

pre {
  margin-top: 20px;
  margin-bottom: 20px;
}

.no-data {
  margin-left: 10px
}
