.filterable-table-container .header-row {
  margin-top: 6px;
  padding-top: 10px;
}
.filterable-table-container .header-row .exact-filters {
  margin-top: 20px;
}
.filterable-table-container .header-row .record-count {
  padding-top: 7px;
}
.filterable-table-container table.filterable-table thead tr th {
  white-space: nowrap;
  user-select: none;
  font-size: 1rem;
}

.filterable-table-container table.filterable-table tbody tr td span, .word-break {
  width: 160px;
  /*авто переносы*/
  word-break: break-all;
}

.filterable-table-container table.filterable-table tbody tr td span,
.word-break-full {
  /*задействует словарь переносов браузера*/
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}
.filterable-table-container table.filterable-table thead tr th span.fa {
  padding-left: 8px;
  color: #aaa;
  font-size: 1rem;
}
.filterable-table-container table.filterable-table tfoot tr td {
  background-color: #b3c9c9;
  font-weight: 700;
  font-size: 1rem;
}
.filterable-table-container .filter-container {
  position: relative;
}

.filterable-table-container .filter-container .filter-input,
.filterable-table-container .filter-container .page-size {
  width: 185px;
  display: inline;
}
.filterable-table-container .clear-filter {
  position: absolute;
  right: 5px;
  top: 1px;
}
.filterable-table-container span.sortable,
.filterable-table-container span.filterable {
  cursor: pointer;
}
.filterable-table-container span.filterable {
  border-bottom: 1px solid #91c1ff;
}
.filterable-table-container ul.pagination li a {
  user-select: none;
}
.filterable-table-container ul.pagination li:not(.disabled) a {
  cursor: pointer;
}
.filterable-table-container span.empty {
  font-style: italic;
  color: #999;
}
.filterable-table-container .filter-item {
  border: 1px solid #ccc;
  border-radius: 1px;
  display: inline-block;
  margin-right: 15px;
}
.filterable-table-container .filter-item .filter-item-title {
  background-color: #2f6e9b;
  border-radius: 1px;
  color: #fff;
}
.filterable-table-container .filter-item .filter-item-title .filter-item-remove {
  color: #fff;
  font-weight: 700;
  user-select: none;
  padding-right: 10px;
  cursor: pointer;
}
.filterable-table-container .filter-item .filter-item-title,
.filterable-table-container .filter-item .filter-item-value {
  padding: 5px 10px;
  display: inline-block;
}



blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  text-align: right;
  border-right: 5px solid #eee;
  border-left: 0;
}
.blockquote-reverse footer:before,
blockquote.pull-right footer:before,
.blockquote-reverse small:before,
blockquote.pull-right small:before,
.blockquote-reverse .small:before,
blockquote.pull-right .small:before {
  content: '';
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}
.media > .pull-right {
  padding-left: 10px;
}
.pull-right {
  float: right !important;
}

/*============================================================================*/

.table .filterable-table-container .filter-container .filter-input{
  width: 100%;
}

.filterable-table-container .table-container div {
  padding-left: 15px;
  font-size: 15px;
}

.table {
  font-size: 1rem;
}

.filterable-table-container {
  margin-top: 20px;
  margin-bottom: 45px;
}
