.mui-tabs__bar>li>a {
  text-transform: capitalize;
  color: black;
  background-color: #fff;
  font-weight: bold;
  margin: 1px;
}

.mui-tabs__bar>li>a:hover {
  background-color: #a9cccc;
}

.mui-tabs__bar>li.mui--is-active>a {
  color: #000;
  background-color: #a9cccc;
}

.mui-tabs__bar>li.mui--is-active {
    border-bottom: none;
}
.mui-tabs__pane {
  margin: 5px 5px;
}
